In [11]:
import pandas as pd
from pathlib import Path

In [12]:
version = "23"
file_name = "data/result_"+ version + ".xlsx"
sheet_name = "Sheet1"
df = pd.read_excel(file_name, sheet_name=sheet_name)

file_name = "data/keys_fasil_"+ version + ".csv"
keys = pd.read_csv(file_name)
keys = keys.apply(lambda x: x.str.strip() , axis=1)
keys.to_csv("data/clean_keys_fasil_"+ version + ".csv", index=False)

In [17]:
def isKeyword(row, list1):
    if (row['product'] in list1):
        return "old"
    else:
        return "new"

In [18]:
df['isNew'] = df.apply(lambda row: isKeyword(row,keys["keys"].to_list()), axis=1)

In [19]:
df2 = df[df.isNew == "new"]
df2.head()

,ID,desc,product,isNew
0,sm23-t23-01,pet foods (buffalo offals unfit for huma,buffalo offals unfit for huma,new
15,sm23-t23-18,fishmeal (unfit for human consumption)pa,fishmeal,new
23,sm23-t23-33,powder fish meal(unfit for human consump,fish,new
37,sm23-t23-52,fishmeal semi finished(unfit for human consump...,fishmeal semi,new
38,sm23-t23-53,fishmeal semi finished(unfit for human consump...,fishmeal semi,new

In [20]:
df.to_excel("data/comparison_"+ version + ".xlsx", index=False)